//- Grid
$gridNumber: 12;
$gridGutter: 30px;
.container {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
%col-gutter {
  box-sizing: border-box;
  padding-left: ($gridGutter / 2);
  padding-right: ($gridGutter / 2);
}
@for $i from 1 through $gridNumber {
  .col-#{$i} {
    width: (100% * ($i / $gridNumber));
    @extend %col-gutter;
  }
}

//- Tag
html, body {
  scroll-behavior: smooth; //卷軸平滑捲動
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: $colorWhite;
}
// 文字選擇時的樣式
::selection {
  background-color: $colorSecondary;
  color: $colorWhite;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
h1 {font-size: 1.9rem;}
h2 {font-size: 1.65rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.3rem;}
h6 {font-size: 1.2rem;}
p {font-size: 1rem;}
