//- 不展開/向上展開/向右展開
//----- 頻道向上展開
#filter_tab {
  a, &:hover a.no_unread {
    height: 25px;
    margin-top: 6px;
    margin-right: 6px;
  }
}
//----- 頻道向右展開
#filter_tab {
  a, &:hover a.no_unread {
    height: 25px;
    margin-top: 6px;
    margin-right: 6px;
  }
  li {
    clear: none;
    width: auto;
  }
}

//- 原處/往右放
//----- 頻道往右放
.timeline_control {margin-left: 0;}
#timeline_control_holder {width: 100%;}
#updater {left: 10px;}
#filter_tab {padding-right: 20px;}

//- 是否圖示化
//----- 頻道圖示化
#filter_tab {
  li {position: relative;}
  a {
    width: 30px;
    padding: 0;
    overflow: hidden;
    i {
      float: left;
      width: 30px;
      line-height: 25px;
      &::before {width: 30px;}
    }
  }
}

//- 右邊:預設/左邊/上面
//----- 讓未讀數字出現在右邊
#updater {margin-left: 30px;}
#filter_tab a .unread_generic {
  position: absolute;
  top: 0;
  left: 30px;
  height: 25px;
  line-height: 25px;
  margin-top: 6px;
  margin-left: 0;
  padding: 0 4px;
  border-radius: 5px;
}

//----- 讓未讀數字出現在上面
#updater {margin-left: 30px;}
#filter_tab a .unread_generic {
  position: absolute;
  top: -14px;
  left: 0;
  width: 30px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

//----- 讓未讀數字出現在左邊
#filter_tab a .unread_generic {
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 25px;
  line-height: 25px;
  margin-top: 6px;
  margin-left: 0;
  padding: 0 4px;
  border-radius: 5px;
}

// 不展開/向上展開/向右展開
// 原處/往右放
// 是否圖示化
// 圖示化右邊/圖示化左邊/圖示化上面