.review {
  z-index: index($z-index, review);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-top: 100px;
  padding-left: 360px;
  padding-right: 30px;
  padding-bottom: 10px;
  transform: translateY(-100%);
  transition: 0.3s;
  font-size: 13px;
  background-color: $colorWhite;
  color: #333;
  // 子選單的預覽按下後的展開狀態
  &.review_open {
    transform: translateY(0);
  }
  @include breakpoint(md) {
    position: relative;
    padding: 0;
    padding-top: 100px;
    transform: translateY(0);
  }
  @include breakpoint(sm) {
    display: none;
  }
  * {
    box-sizing: border-box;
  }
  div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
  }
  h2 {
    font-family: Arial, Verdana, sans-serif;
  }
  p {
    margin-bottom: 18px;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: #FF574D;
  }
  a img {
    border: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  th {
    font-style: normal;
  }
  .container {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: rgba($colorLightGary, 0.2);
  }
  .clearfix::after {
    content: '';
    clear: both;
    display: block;
    width: 0px;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
  }
  [class^="pif-"]::before, [class*=" pif-"]::before {
    position: relative;
    display: inline-block;
    top: 1px;
    font-family: 'PlurkIconFont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }  
  [class^="pif-"]::before, 
  .pif-emoticon::before, 
  .pif-user-add::before,
  .pif-follow_add::before,
  .pif-follow::before, 
  .pif-volume::before,
  .pif-media::before {
    content: '❅';
    margin-right: 5px;
    font-size: 20px;
  }
}

//----- 河道
#review_th {
  #timeline_holder {
    background: none;
  }
  .timeline-holder {
    padding: 0 !important;
    overflow: visible;
    height: 386px;
    position: relative;
    width: 100%;
    cursor: move;
  }
  .timeline-cnt, 
  .timeline-bg, 
  .timeline-cnt .block_cnt, 
  .timeline-bg .block_bg {
    position: absolute;
    height: 100% !important;
    width: 100%;
    left: 0;
    top: 0;
    overflow: visible !important;
  }

  // 河道噗
  .timeline-cnt {
    z-index: 2;
    // z-index: 600;
  }
  .timeline-cnt .display {
    width: 380px;
    // z-index: 1200;
  }
  .timeline-cnt .plurk {
    position: absolute;
    // z-index: 1000;
    cursor: pointer;
  }
  .plurk {
    color: #111;
    white-space: nowrap;
  }
  .plurk td {
    vertical-align: top;
    white-space: nowrap !important;
  }
  // 頭像
  .td_img {
    width: 20px;
  }
  .p_img, .p_img img {
    width: 20px;
    height: 20px;
  }
  // 回應數
  .td_response_count {
    width: 15px;
    height: 30px !important;
  }
  .new .response_count {
    background: #fb0047;
    color: #fff;
  }
  .response_count {
    padding: 1px 4px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  // 噗文內容
  .plurk_cnt {
    position: relative;
    padding: 2px 0 0;
    transition: background-color 5s;
    font-weight: normal;
    line-height: 1.3;
    box-shadow: 1px 1px 3px -3px #000;
    background-color: #fff;
    color: #111;
  }
  .timeline-cnt .display table {
    width: 100%;
  }
  // 發噗時間
  .timeline-cnt .plurk .time {
    position: absolute;
    bottom: 7px;
    left: 9px;
    transform: scale(0.95);
    transform-origin: left;
    font-size: 12px;
  }
  .timeline-cnt .plurk .time a {
    color: #AFB8CC;
  }
  // 暱稱
  .td_qual {
    width: 0%;
    padding: 2px 5px 2px 5px;
  }
  .name {
    color: #111;
    font-weight: bold;
    text-decoration: none;
  }
  .q_replurks {
    background: #3b8610;
  }
  .qualifier {
    padding: 0 3px 0 3px;
    color: #FFF;
    margin: 0 3px 0 4px;
    border-radius: 3px;
  }
  .q_replurks i {
    font-size: 12px;
    margin-left: 2px;
  }
  .porn-icon {
    display: inline-block;
    margin: 0 4px 0 1px;
  }
  .porn-icon::before {
    content: '';
    position: relative;
    top: 6px;
    left: 0;
    @include size(20px);
    margin-top: -6px;
    line-height: 0;
    border-radius: 50%;
    background-color: #ff3600;
  }
  .porn-icon::after {
    content: 'R18';
    position: relative;
    top: -1px;
    left: -18px;
    font-size: 9px;
    color: #fff;
  }
  // 噗文
  .td_cnt {
    width: 100%;
    padding: 2px 5px 5px 0;
  }
  .text_holder {
    position: relative;
    min-width: 48px;
    white-space: normal !important;
    background: none;
  }
  .timeline-cnt .plurk .text_holder {
    width: 180px;
    height: auto;
    min-height: 1.3em;
    white-space: normal;
    overflow: hidden !important;
  }
  .timeline-cnt .display .text_holder {
    width: 100%;
    max-width: 80vw;
    min-width: 180px;
    height: auto !important;
    min-height: 2em;
    max-height: none !important;
    white-space: normal;
  }
  #timeline_holder .plurk .text_holder {
    max-height: 37.210875px;
  }
  // Hashtag
  .plurk_content a.hashtag, .plurk .text_holder a.hashtag {
    margin: 0 0.1em;
    font-size: 0.9em;
    border-radius: 4px;
    color: #cf682f;
  }
  .plurk_content a.hashtag:hover, .plurk .text_holder a.hashtag:hover {
    margin: auto -0.1em;
    padding: 0.05em 0.2em;
    text-decoration: none;
    background-color: #cf682f;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  }
  // 表符
  .emoticon, 
  .emoticon_my, 
  .emo_campaign, 
  .emoticons_campaign {
    vertical-align: top;
  }
  // 連結
  .plurk a.ex_link {
    color: #0435D2;
    text-decoration: none;
  }
  .plurk a.ex_link:hover {
    text-decoration: underline;
  }
  // 有圖連結
  .plurk a.meta {
    position: relative;
    display: block;
    margin: 1px 4px 4px 0px;
    padding: 4px;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border: #e5ebfb 1px solid;
    border: rgba(33, 83, 210, 0.08) 1px solid;
    border-radius: 7px;
    background: #f6f8fe;
    background: rgba(33, 83, 210, 0.04);
    color: #2153D2;
  }
  .plurk a.meta img {
    float: left;
    height: 48px;
    max-width: 80px;
    margin: 0 5px 0 0;
    border-radius: 5px;
  }
  .plurk a.meta:hover {
    text-decoration: none;
    border: #d4dff7 1px solid;
    border: rgba(33, 83, 210, 0.12) 1px solid;
    background: #edf1fc;
    background: rgba(33, 83, 210, 0.08);
  }
  // 圖片
  .plurk a.pictureservices {
    position: relative;
    display: inline-block;
    max-width: 200px;
    margin: 1px 2px 4px 0px;
    overflow: hidden;
    cursor: pointer;
    vertical-align: text-top;
    border: none;
    border-radius: 5px;
  }
  .plurk a.pictureservices:hover {
    text-decoration: none;
  }
  .plurk a.pictureservices img {
    display: block;
    max-width: 240px;
    height: 64px;
  }
  .plurk a.pictureservices:hover img {
    filter: brightness(90%);
  }

  // 控制列
  .manager::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
  }
  .timeline-cnt .plurk .manager {
    display: none;
  }
  .link_extend .manager, .plurk_box .manager {
    display: block !important;
  }
  .manager {
    float: right;
    margin-top: 4px;
    padding: 3px 4px 0;
    color: #AFB8CC;
  }
  .manager > a {
    display: inline-block;
    margin-left: 12px;
    padding: 2px 5px 3px;
    cursor: pointer;
    text-decoration: none !important;
    border-radius: 3px;
    color: #AFB8CC;
  }
  .manager > a.gift {
    margin-left: 10px;
  }
  .manager > a:hover {
    color: #FFF !important;
    background: #3667A5 !important;
  }
  .manager .mute-off:hover {
    background: #000 !important;
  }
  .manager .replurk-off:hover {
    background: #45b03f !important;
  }
  .manager .like-off:hover {
    background: #e8443d !important;
  }
  .manager .mark-off:hover {
    background: #5abac5 !important;
  }
  [class^="pif-"]::before,
  .pif-volume::before {
    font-size: 18px;
    margin-right: 0;
  }

  // 時間軸
  .timeline-bg .block_bg .bottom_start, 
  .timeline-timeshow {
    position: absolute;
    padding: 0 4px;
    font-size: 12px;
    bottom: -8px;
    white-space: nowrap;
  }
  .timeline-bg {
    z-index: 1;
  }
  .bottom-line {
    z-index: -100;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 2px;
    overflow: hidden;
    background-color: #FFF;
  }
  .bottom_start {
    background: #FFF;
    color: #CCC;
    border-radius: 5px;
  }

  // 噗下時間
  .timeline-timeshow {
    z-index: 1;
    border-radius: 5px;
    background: #FF574D;
    color: #FFF;
  }
  #time_show {
    // z-index: 590;
    position: absolute;
    // display: none;
    margin-top: -9px;
    padding: 0 4px;
    font-size: 11px;
    white-space: nowrap;
    border-radius: 5px;
  }
  #time_show span {
    color: #FFF;
  }
  .evening, 
  .night, 
  .day, 
  .morning {
    background: #FF574D;
  }
}

//----- 噗內回應
#review_fh {
  #form_holder {
    background: #FFF;
    box-shadow: 1px 1px 3px -3px #000;
  }
  .plurk_box {
    z-index: 1;
    position: relative;
    // position: absolute;
  }
  .plurkForm::after, 
  .input_holder::after, 
  .share_list::after, 
  .icons_holder::after {
    content: '';
    clear: both;
    height: 0;
    display: block;
  }

  // 迷你發噗區
  .plurk_box .mini_form {
    padding: 4px 3px 2px;
    font-weight: normal;
    border-top: #eee 1px solid;
    background-color: #fff;
  }
  .plurkForm {
    position: relative;
    padding: 3px 3px 0;
  }
  .plurkForm.mini-mode .input_holder, .mini_form .input_holder {
    border-radius: 6px;
  }
  .input_holder {
    float: none;
    width: auto;
    overflow: hidden;
    border: #eee 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #FFF;
  }
  .qual_holder {
    position: relative !important;
    padding: 3px;
    font-size: 24px;
  }
  .plurkForm.mini-mode .qual_holder, 
  .mini_form .qual_holder {
    padding: 1px 1px 0;
    font-size: 12px;
  }
  #form_holder .qual_holder {
    color: black;
  }
  .m_qualifier {
    position: relative;
    padding: 3px 6px 4px;
    line-height: 100%;
    border-radius: 5px;
    background-color: #CCC;
    color: #FFF;
  }
  .dd_img {
    cursor: pointer;
  }
  .plurkForm.mini-mode .m_qualifier, 
  .mini_form .m_qualifier {
    padding: 3px 6px 2px;
  }

  .pif-dropdown::before {
    content: "▼";
  }
  .m_qualifier i::before {
    top: 0;
    font-size: 16px;
    line-height: 16px;
  }
  .mini_form .m_qualifier i::before {
    top: 1px;
    font-size: 12px;
    line-height: 10px;
  }
  .textarea_holder {
    float: none;
    width: auto;
    overflow: hidden;
  }
  .textarea_holder textarea {
    display: block;
    clear: none;
    width: 100%;
    height: 37px;
    margin: 0 !important;
    padding: 0 0 0 2px !important;
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: 25px;
    line-height: 37px;
    border: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: none;
  }
  .plurkForm.mini-mode .textarea_holder textarea, 
  .mini_form .textarea_holder textarea {
    height: 19px;
    font-size: 12px;
    line-height: 19px;
    border-radius: 4px;
  }
  .icons_holder {
    float: left;
    margin: 4px 0 4px;
    overflow: hidden;
    font-size: 12px;
  }
  .plurkForm.mini-mode .icons_holder, 
  .mini_form .icons_holder {
    margin: 1px 0 3px;
  }
  .icons_holder li {
    position: relative;
    float: left;
    width: 32px;
    margin: 4px 6px 0 0;
    cursor: pointer;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }
  .plurkForm.mini-mode .icons_holder li, 
  .mini_form .icons_holder li {
    width: 26px;
    margin: 1px 1px 0 0;
    font-size: 16px;
    line-height: 24px;
  }
  .plurkForm.mini-mode .icons_holder .pif-emoticon::after, 
  .mini_form .icons_holder .pif-emoticon::after {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #333;
    margin: -19px 0 0 7px;
  }
  .icons_holder .pif-emoticon {
    color: #fcd254;
  }
  .icons_holder .pif-media {
    color: #8bcfd6;
  }
  .plurk_to, .plurkForm .whispers_hint, 
  .priv, 
  .plurk_schedule {
    float: right;
    margin-top: 6px;
    opacity: 0.6;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
  }
  .char_updater {
    clear: both;
    display: block;
    opacity: 0.75;
    font-size: 12px;
    line-height: 18px;
  }
  .plurkForm.mini-mode .char_updater, 
  .mini_form .char_updater {
    clear: none;
    float: right;
    margin: 4px 5px 0;
    color: #999;
  }

  // 回應區
  .response_box {
    position: relative;
    min-height: 260px;
    overflow: auto;
    overflow-x: hidden;
    border-top: #eee 1px solid;
    background: #FFF;
  }

  // 回應區上方的資訊列
  .button, .orange-but {
    display: inline-block;
    width: auto;
    padding: 9px 13px;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
    border: 0;
    border-radius: 999px;
    background: #FF574D;
    color: #fff;
    box-shadow: none;
  }
  .button.small-button {
    font-size: 12px;
    padding: 6px 10px;
  }
  .favorite_count, .replurk_count, .bookmark_info, .private_info {
    margin: 9px 0 4px 10px;
    color: #FFF;
    float: left;
  }
  .favorite_count {
    background: #54a4be;
  }
  .favorite_count:hover {
    background: #4494ae;
  }
  .replurk_count {
    background: #56b892;
  }
  .replurk_count:hover {
    background: #46a882;
  }
  .bookmark_info {
    background: #5abac5;
  }
  .bookmark_info:hover {
    background: #4a9aa5;
  }
  .private_info {
    background: #F4CA35;
  }
  .private_info:hover {
    background: #E4BA25;
  }
  .response-status {
    clear: both;
    margin-top: 5px;
    padding: 4px 0;
    font-size: 12px;
  }
  .response-status .response-count {
    height: 24px;
    padding: 5px 0 0 10px;
    font-weight: normal;
    line-height: 24px;
    background-color: transparent;
    color: #AFB8CC;
  }
  .response-status .response-only-owner {
    margin-left: 10px;
    opacity: 0;
    transform: scale(0.9);
    font-weight: normal;
    vertical-align: top;
    background: #f5f5f9;
    color: #afb8cc;
  }
  .response-status:hover .response-only-owner {
    opacity: 1;
  }
  .response-status .response-only-owner:hover {
    background: #AFB8CC;
    color: #FFF;
  }

  // 回應區留言
  .language-large-font .list {
    font-size: 0.93em;
  } 
  .plurk_box .list {
    clear: both;
    position: relative;
    height: auto !important;
    padding: 5px 5px;
  }
  .list .plurk {
    position: relative;
    margin: 3px 0;
  }
  .plurk {
    white-space: nowrap;
    color: #111;
  }
  .plurk_box table {
    width: 100%;
  }
  .plurk td {
    vertical-align: top;
    white-space: nowrap !important;
  }
  .plurk_cnt {
    position: relative;
    padding: 2px 0 0;
    transition: background-color 5s;
    font-weight: normal;
    line-height: 1.3;
    background-color: #fff;
    color: #111;
    box-shadow: 1px 1px 3px -3px #000;
  }
  .list .plurk_cnt {
    padding-bottom: 0px;
    transition: background-color 0s;
    border: none;
    box-shadow: none;
  }
  .list .td_qual {
    width: 0%;
  }
  .plurk td {
    vertical-align: top;
    white-space: nowrap !important;
  }
  .td_qual {
    width: 0%;
    padding: 2px 0 2px 5px;
  }
  .name {
    font-weight: bold;
    text-decoration: none;
  }
  .td_cnt {
    width: 100%;
    padding: 2px 5px 5px 0;
  }
  .list .td_cnt {
    width: 100%;
  }
  .text_holder {
    position: relative;
    min-width: 48px;
    white-space: normal !important;
    background: none;
  }
  .list .text_holder {
    width: 100% !important;
    margin-left: 5px;
    margin-right: 5px;
    white-space: normal !important;
    word-break: break-word !important;
  }
}

//----- 控制列
#review_tc {
  .container {
    padding-top: 200px;
    padding-bottom: 40px;
  }

  .timeline_control {
    position: absolute;
    width: 100%;
    height: 25px;
    margin-left: 16px;
    // margin-top: -46px;
    pointer-events: none;
    a {
      border-radius: 5px;
      padding: 0 8px;
      text-decoration: none;
      text-align: center;
      line-height: 25px;
      white-space: nowrap;
      i {
        width: 18px;
        margin-right: 4px;
        opacity: 0.8;
      }
    }
  }
  #timeline_control_holder {
    position: absolute;
    bottom: 0;
  }

  #updater {
    position: absolute;
    bottom: 0;
    left: 100%;
    pointer-events: auto;
    &, 
    .item, 
    .item a {
      white-space: nowrap;
      display: inline-block;
      height: 25px;
      line-height: 25px;
    }
    .item a {
      background: #FFF;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  #filter_tab {
    float: right;
    pointer-events: auto;
    &::after {
      content: '';
      clear: both;
      display: block;
      height: 0;
    }
    li {
      float: right;
      clear: both;
      width: 100%;
    }
    a {
      display: block;
      height: 0;
      margin-top: 0;
      padding: 0 12px;
      overflow: hidden;
      cursor: pointer;
      opacity: 0.9;
      transition: height 200ms ease-in, margin-top 200ms ease-in;
      background: #FFF;
      color: #999;
    }
    
    a.filter_selected {
      color: #FFF;
      background: #FF574D;
    }
  }
  #filter_tab:hover a, 
  #filter_tab a.filter_selected, 
  #filter_tab a.has_unread, 
  #filter_tab:hover a.filter_selected, 
  #filter_tab:hover a.has_unread {
    height: 25px;
    margin-top: 6px;
  }

  .unread_generic {
    padding: 2px 4px 1px;
    margin-left: 5px;
    background-color: #f83010;
    color: #fff !important;
    border-radius: 4px;
    font-family: arial, sans-serif;
    font-size: 12px;
  }
}

//----- 主控台
.review_dh {
  .container {
    padding: 0;
    padding-bottom: 1px;
  }
  #dashboard_holder {
    position: relative;
    width: 98%;
    max-width: 980px;
    min-width: 580px;
    margin: 0 auto 21px;
    padding: 35px 0 20px;
  }
  #plurk-dashboard {
    height: 1%;
    overflow: visible;
    line-height: 15px;
    color: #666;
  }
  #plurk-dashboard h2 {
    display: block;
    padding: 2px;
    font-size: 14px;
  }
  #plurk-dashboard p {
    margin: 0;
  }
  #plurk-dashboard a {
    color: #E88D43;
  }
  #plurk-dashboard .dash-group-form,
  #plurk-dashboard .dash-group-right {
    position: relative;
    float: right;
    width: 67%;
  }
  #plurk-dashboard .dash-group-left {
    position: relative;
    float: left;
    width: 33%;
    padding-right: 10px;
  }
  #plurk-dashboard .dash-segment {
    float: left;
    position: relative;
  }
  .dash-segment .segment-content {
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background: #FFF;
  }
  #plurk-dashboard .dash-segment-post, 
  #plurk-dashboard .dash-segment-stats {
    width: 100%;
  }
  #plurk-dashboard .dash-segment-friends {
    width: 49.3%;
    margin-right: 1.4%;
  }
  #plurk-dashboard .dash-segment-fans {
    width: 49.3%;
  }
  #plurk-dashboard .dash-segment-award {
    clear: both;
  }
  #plurk-dashboard::after, 
  .segment-content::after {
    content: '';
    clear: both;
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
  }
  .friend_man {
    display: inline-block;
    margin: 0 2px;
    padding: 6px 10px;
    overflow: hidden;
    cursor: pointer !important;
    transition: background-color 300ms;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none !important;
    white-space: nowrap;
    border-radius: 5px;
    color: white !important;
  }
  .friend_man::before {
    width: 16px;
    margin-right: 5px;
    margin-left: -1px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    vertical-align: top;
  }

  // 發噗區
  #plurk-dashboard .dash-group-form .segment-content {
    min-height: 96px;
    overflow: visible;
  }
  .plurkForm::after, 
  .input_holder::after, 
  .share_list::after, 
  .icons_holder::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
  }
  .plurkForm {
    position: relative;
    padding: 3px 3px 0;
  }
  .submit_img_color {
    background: #FF574D;
  }
  .submit_img {
    float: right;
    width: 80px;
    height: 38px;
    margin-left: 6px;
    cursor: pointer;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  .input_holder {
    float: none;
    width: auto;
    overflow: hidden;
    border: #eee 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #FFF;
  }
  .qual_holder {
    position: relative !important;
    padding: 3px;
    font-size: 24px;
  }
  .dd_img {
    cursor: pointer;
  }
  .m_qualifier {
    position: relative;
    padding: 3px 6px 4px;
    border-radius: 5px;
    line-height: 100%;
    background-color: #CCC;
    color: #FFF;
  }
  .m_qualifier i::before {
    top: 0;
    font-size: 16px;
    line-height: 16px;
  }
  .pif-dropdown::before {
    content: "▼";
  }
  .textarea_holder {
    float: none;
    width: auto;
    overflow: hidden;
  }
  .textarea_holder textarea {
    display: block;
    clear: none;
    width: 100%;
    height: 37px;
    padding: 0 0 0 2px !important;
    margin: 0 !important;
    resize: none;
    outline: none;
    font-family: inherit;
    font-size: 25px;
    font-weight: inherit;
    line-height: 37px;
    border: 0;
    box-shadow: none;
    border-radius: 7px;
    background: #FFF;
  }
  .icons_holder {
    float: left;
    margin: 4px 0 4px;
    overflow: hidden;
    font-size: 12px;
  }
  .icons_holder li {
    position: relative;
    float: left;
    width: 32px;
    margin: 4px 6px 0 0;
    cursor: pointer;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }
  [class^="pif-"]::before, .pif-emoticon::before {
    font-size: 26px;
  }
  .icons_holder .pif-emoticon {
    color: #fcd254;
  }
  .icons_holder .pif-media {
    color: #8bcfd6;
  }
  .icons_holder .pif-sync {
    color: #96cb84;
  }
  .icons_holder .pif-anynomous {
    color: #A98AB8;
  }
  .icons_holder .pif-privacy {
    color: #f4cb35;
  }
  .plurk_to,
  .plurkForm .whispers_hint,
  .priv,
  .plurk_schedule {
    float: right;
    font-size: 13px;
    line-height: 17px;
    opacity: 0.6;
    margin-top: 6px;
    text-align: right;
  }
  .char_updater {
    clear: both;
    font-size: 12px;
    display: block;
    line-height: 18px;
    opacity: 0.75;
  }

  // 個人資訊區
  #plurk-dashboard .dash-segment-profile {
    width: 100%;
  }
  #plurk-dashboard .dash-segment {
    float: left;
    position: relative;
  }
  #plurk-dashboard .dash-segment-profile #dash-profile {
    height: 86px;
    position: relative;
    text-align: left;
  }
  #plurk-dashboard .dash-segment-profile #dash-profile img.profile-pic {
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 8px;
  }
  #plurk-dashboard.own img.profile-pic {
    cursor: pointer;
  }
  #profile_pic {
    margin-bottom: 5px;
  }
  #plurk-dashboard .dash-segment-profile #dash-profile #full_name {
    margin-left: 92px;
    padding-top: 1px;
    font-size: 17px;
  }
  #plurk-dashboard .dash-segment-profile #dash-profile #full_name .display_name {
    display: block;
    margin-bottom: 1px;
    line-height: 1.1em;
  }
  #plurk-dashboard .dash-segment-profile #dash-profile #full_name .nick_name {
    display: block;
  }
  .nick_name {
    opacity: 0.85;
    font-size: 12px;
  }
  #plurk-dashboard .dash-segment-profile #dash-profile .profile-info {
    position: absolute;
    bottom: 0;
    margin-left: 92px;
    opacity: 0.85;
  }
  #plurk-dashboard .dash-segment-profile #dash-profile .profile-icons {
    position: absolute;
    bottom: 0;
    height: 20px;
    right: 2px;
    font-size: 0;
    white-space: nowrap;
  }
  #plurk-dashboard .dash-segment-profile #dash-profile .profile-icons img {
    width: auto;
    height: 20px;
  }
  #plurk-dashboard .dash-segment-profile #dash-additional-info {
    padding: 5px;
  }
  #plurk-dashboard .dash-segment-profile #dash-additional-info #about_me {
    padding-bottom: 10px;
    line-height: 1.4em;
  }
  #plurk-dashboard .dash-segment-profile #dash-additional-info #location_container, 
  #plurk-dashboard .dash-segment-profile #dash-additional-info #relationship_container {
    margin-top: 10px;
  }
  #plurk-dashboard .dash-segment-profile #dash-additional-info #private_plurk {
    margin-bottom: 10px;
  }
  .friend_man.private_plurk {
    background-color: #207298;
  }
  .friend_man.send_gift {
    background-color: #E8AD40;
  }

  // 統計區
  #plurk-dashboard #dash-stats .dash-stats-karma {
    float: left;
    width: 37%;
    min-width: 210px;
    margin: 15px 0;
    text-align: center;
  }
  .karma_hover {
    position: relative;
    margin: 10px 0 10px 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    line-height: 30px;
    white-space: nowrap;
  }
  .karma_hover .karma_red {
    color: #c60900;
  }
  .karma_hover .karma_green {
    color: #00ff24;
  }
  .karma_hover #karma_arrow {
    display: none;
    margin-top: -8px;
    font-size: 12px;
    vertical-align: top;
  }
  #plurk-dashboard #dash-stats table {
    float: none;
    width: auto;
    height: 72px;
    overflow: hidden;
  }
  #plurk-dashboard #dash-stats table th {
    padding: 8px 3px 0 0;
    opacity: 0.7;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: bottom;
  }
  #plurk-dashboard #dash-stats table td {
    vertical-align: bottom;
    padding: 8px 5px 0 0;
    color: #333;
    font-size: 15px;
    width: 26%;
    white-space: nowrap;
  }

  // 徽章區
  #plurk-dashboard .dash-segment-award .segment-content {
    background: none;
  }
  #plurk-dashboard .dash-segment-award .segment-content .award_bar div {
    float: left;
    width: 39px;
    height: 39px;
    margin: 0 8px 6px 0;
    cursor: default;
    font-weight: bold;
    text-align: center;
  }
  .cmp_9 {
    width: 39px;
    height: 39px;
    font-size: 1px;
    background: transparent url('../img/award.png') 0 -2420px no-repeat;
  }
  #plurk-dashboard .link_arrow {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 11px;
    text-align: left;
  }
  #plurk-dashboard .link_arrow i {
    margin-right: 5px;
  }
  .pif-arrow-points::before {
    font-size: 15px;
    margin-right: 0;
  }

  // 好友粉絲區
  #plurk-dashboard #dash-friends-pics, #plurk-dashboard #dash-fans-pics {
    margin: 10px 0 0 0;
  }
  .show_all_friends, .show_mutual_friends {
    float: left;
    margin: 0 15px 5px 0;
  }
  .friend_holder {
    clear: both;
  }
  .friend_holder ul li {
    margin: 5px 2px;
    float: left;
  }

  // 好友區
  #plurk-dashboard .dash-segment-friends #dash-friends #friend_managment {
    margin-top: 5px;
    text-align: center;
  }
  .friend_man.add_friend, .friend_man.accpet {
    background-color: #7aa716;
  }
  .friend_man.add_friend:hover, .friend_man.accpet:hover {
    background-color: #6a9706;
  }

  // 粉絲區
  #plurk-dashboard .dash-segment-fans #dash-fans #fan_managment {
    margin-top: 5px;
    text-align: center;
  }
  .friend_man.unfollow, .friend_man.add_follow, .friend_man.add-as-fan {
    background-color: #207298;
  }
  .friend_man.unfollow:hover, .friend_man.add_follow:hover, .friend_man.add-as-fan:hover {
    background-color: #106288;
  }
}

//----- 改變頻道型態用的class
// 頻道向上展開
.filter_open_top {
  &#review_tc {
    #filter_tab a, #filter_tab:hover a.no_unread {
      height: 25px;
      margin-top: 6px;
      margin-right: 6px;
    }
  }
}
// 頻道向右展開
.filter_open_right {
  &#review_tc {
    #filter_tab a, #filter_tab:hover a.no_unread {
      height: 25px;
      margin-top: 6px;
      margin-right: 6px;
    }
    #filter_tab li {
      clear: none;
      width: auto;
    }
  }
}
// 頻道往右放
.filter_posi_right {
  &#review_tc {
    .timeline_control {margin-left: 0;}
    #timeline_control_holder {width: 100%;}
    #updater {
      left: 10px; 
      // bottom: 30px;
    }
    #filter_tab {padding-right: 20px;}
  }
}
// 圖示化未讀位置
.filter_count_right {
  &#review_tc {
    // 頻道圖示化
    #filter_tab li {position: relative;}
    #filter_tab a {
      width: 30px;
      padding: 0;
      overflow: hidden;
    }
    #filter_tab a i {
      float: left;
      width: 30px;
      line-height: 25px;
    }
    #filter_tab a i::before {width: 30px;}
    // 讓頻道未讀數字出現在右邊
    #updater {margin-left: 30px;}
    #filter_tab a .unread_generic {
      position: absolute;
      top: 0;
      left: 30px;
      width: 30px;
      height: 25px;
      line-height: 25px;
      margin-top: 6px;
      margin-left: 0;
      padding: 0 4px;
      border-radius: 5px;
    }
  }
}
.filter_count_left {
  &#review_tc {
    // 頻道圖示化
    #filter_tab li {position: relative;}
    #filter_tab a {
      width: 30px;
      padding: 0;
      overflow: hidden;
    }
    #filter_tab a i {
      float: left;
      width: 30px;
      line-height: 25px;
    }
    #filter_tab a i::before {width: 30px;}
    // 讓頻道未讀數字出現在左邊
    #filter_tab a .unread_generic {
      position: absolute;
      top: 0;
      left: -30px;
      width: 30px;
      height: 25px;
      line-height: 25px;
      margin-top: 6px;
      margin-left: 0;
      padding: 0 4px;
      border-radius: 5px;
    }
  }
}
.filter_count_top {
  &#review_tc {
    // 頻道圖示化
    #filter_tab li {position: relative;}
    #filter_tab a {
      width: 30px;
      padding: 0;
      overflow: hidden;
    }
    #filter_tab a i {
      float: left;
      width: 30px;
      line-height: 25px;
    }
    #filter_tab a i::before {width: 30px;}
    // 讓頻道未讀數字出現在上面 
    #filter_tab a .unread_generic {
      position: absolute;
      top: -14px;
      left: 0;
      width: 30px;
      height: 20px;
      line-height: 20px;
      margin: 0;
      padding: 0;
      border-radius: 5px;
    }
  }
}

// 頻道背景顏色選擇
.review_background {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  .bgc_selector {
    display: flex;
    align-items: center;
  }
  .selector {
    height: 30px;
    margin-left: 10px;
    font-size: 1rem;
    line-height: 30px;
    color: $colorDarkGary;
  }
  input {
    @include size(20px);
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: none;
    // 色盤中間那塊顏色的設定
    &::-moz-color-swatch,
    &::-webkit-color-swatch {
      border-radius: 3px;
      border: none;
    }
    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }
}

