body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(-160deg, #fdfbfb, #ebedee);
  color: color(Black);
  transition: 0.5s;
  &.dark-mode {
    color: color(White);
  }
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  @include size(100%);
  box-sizing: border-box;
}

//- usability
.no-display {
  display: none;
}
