<!DOCTYPE html>
html(lang="zh-Hant-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Plurk CSS Generator
    link(rel="stylesheet", href="style/main.min.css")
    style#reviewStyle
  body
    include pug/components/inputs.pug
    include pug/components/lists.pug

    .wrapper
      header.header
        .logo
          span.logo_main P
          span.logo_sub css.
          a.logo_cover(href="index.html")
        h1.header_title Plurk CSS Generator
          spam.header_title-small v.2
        nav.nav
          ul.plurkbg_list
            li.plurkbg_item
              label(for="plurkbg_color").plurkbg_label 背景顏色
                input#plurkbg_color.no-display(type="color")
                .plurkbg_preview.plurkbg_color
            li.plurkbg_item
              label(for="plurkbg_image").plurkbg_label 背景圖片
                input#plurkbg_image.no-display(type="file" accept="image/*")
                .plurkbg_preview.plurkbg_image
              span.plurkbg_clear.cross_btn
          button.nav_btn.plurkbg_button 預覽背景
          button.nav_btn.plurkbox_button 隱藏噗內回應
          button.nav_btn.reset_button 清空所有
          button.nav_btn.export_button 輸出
          //- button.nav_btn.tip_button Tip
          a.nav_btn.github_button(href="https://github.com/hoshikata" target="_blank")
        //- .mode
          input#mode_switch.mode_input(type="checkbox")
          label.mode_label(for="mode_switch")
          .mode_sun
        .sidebar.sidebar-active
      .tools.tools-open
        .tools_main
          each list, index in contentList
            .tools_container(id=`${areaList[index]}_area`, class=index===0?'tools_container-open':'')
              .tools_generator.customization-scroll
                +generator(list)
        .tools_bar.menu
          ul.menu_list
            each item, index in menuList
              li.menu_item(id=`${areaList[index]}_button`, class=index===0?'menu_item-active':'')=item
      #review.review
        .review_container.customization-scroll
          #layout_content.clearfix
            - const plurk_cut_left = 80
            - const plurk_cut_width = 500
            - const plurk_cut_top = 50
            - const plurk_cut_height = 70
            include pug/partial/review_th.pug
            include pug/partial/review_tc.pug
            include pug/partial/review_dh.pug
            include pug/partial/review_fh.pug
      .export
        .export_control
          button.export_btn.create_button 生成
            .export_icon
          button.export_btn.select_button 全選
            .export_icon
          button.export_btn.clear_button 清除
            .export_icon
        .export_container
          textarea.export_code.customization-scroll(spellcheck="false")


    script(src="script/script.js")
