<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Plurk CSS Generator
    link(rel="stylesheet", href="style/style.min.css")
  body
    //- 導覽列
    header.header
      .container
        .row.por
          .col-4
            .logo
              .logo_block
                span P
                span css.
                .cover
              span.title Plurk CSS Generator
          .col-1
            .toggler
              span.toggler_item.item_top
              span.toggler_item.item_mid
              span.toggler_item.item_bottom
    //- Main-Space
    .wrap
      //- 主選單
      .menu
        ul.menu_list.menu_toggle
          li.item.active 河道
          li.item 噗內回應
          //- li.item 時間軸
          li.item 控制列
          li.item 主控台左側
          li.item 主控台右側
          li.item 其他項目
          li.item 輸出
        //- ul.info
          li.icon
            a.plurk_icon(href="javascript:;" target="_blank" data-tip="作者噗浪") P
      .main
        //- 河道的噗區塊
        #th_block.control.display
          //- 次選單
          .menu.menu_sub
          //- 預覽區
          #review_th.review
            .review_background
              .row.m-0
                .bgc_selector
                  input#selector_th(type="color", name="selector")
                  label.selector(for="selector_th") 預覽背景顏色選擇
            .container
              include ./pug/review_th.pug
          //- 輸入區
          .enter_block
        #fh_block.control
          .menu.menu_sub
          #review_fh.review
            .review_background
              .row.m-0
                .bgc_selector
                  input#selector_fh(type="color", name="selector")
                  label.selector(for="selector_fh") 預覽背景顏色選擇
            .container.clearfix
              include ./pug/review_fh.pug
          .enter_block
        //- #tt_block.control
          .menu.menu_sub
          #review_tt.review
            .container.clearfix
          .enter_block
        #tc_block.control
          .menu.menu_sub
          #review_tc.review
            .review_background
              .row.m-0
                .bgc_selector
                  input#selector_tc(type="color", name="selector")
                  label.selector(for="selector_tc") 預覽背景顏色選擇
            .container.clearfix
              include ./pug/review_tc.pug
          .enter_block
        #dhl_block.control
          .menu.menu_sub
          #review_dhl.review_dh.review
            .review_background
              .row.m-0
                .bgc_selector
                  input#selector_dhl(type="color", name="selector")
                  label.selector(for="selector_dhl") 預覽背景顏色選擇
            .container.clearfix
              include ./pug/review_dh.pug
          .enter_block
        #dhr_block.control
          .menu.menu_sub
          #review_dhr.review_dh.review
            .review_background
              .row.m-0
                .bgc_selector
                  input#selector_dhr(type="color", name="selector")
                  label.selector(for="selector_dhr") 預覽背景顏色選擇
            .container.clearfix
              include ./pug/review_dh.pug
          .enter_block
        #other_block.control
          .menu.menu_sub
          .enter_block
        #export.control
          .btn_Group
            button#create.btn 生成
              .btn_icon
                span
                span
            button#select.btn 全選
              .btn_icon
                span
            button#clear.btn.btn-danger 清除
              .btn_icon
                span
                span
          .container
            textarea#export_area.export(name="export")
    script(src="script/script.js")
