- 
  const plurkCntList = [
    {
      title: '噗首外觀',
      subtitle: '.timeline-cnt .plurk',
      name: 'plurkcnt_normal',
      csstype: ['opa'],
    },
    {
      title: '噗首外觀：滑鼠移至',
      subtitle: '.timeline-cnt .link_extend',
      name: 'plurkcnt_hover',
      csstype: ['opa'],
    },
    {
      title: '噗首外觀：被展開',
      subtitle: '.timeline-cnt .plurk_box',
      name: 'plurkcnt_extend',
      csstype: ['opa'],
    },
    {
      title: '噗首外觀：消音',
      subtitle: '.timeline-cnt .muted',
      name: 'plurkcnt_muted',
      csstype: ['opa'],
    },
    {
      title: '噗首外觀：偷偷說',
      subtitle: '.timeline-cnt [data-uid="99999"]',
      name: 'plurkcnt_anonymous',
      csstype: ['opa'],
    },
    {
      title: '噗首內文',
      subtitle: '.timeline-cnt .plurk_cnt',
      name: 'plurkcnt_normal',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
    },
    {
      title: '噗首內文：新訊息',
      subtitle: '.timeline-cnt .plurk_cnt[class*="new"]',
      name: 'plurkcnt_new',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
    },
    {
      title: '噗首內文：R18',
      subtitle: '.timeline-cnt .porn:not(.link_extend) .text_holder',
      name: 'plurkcnt_r18',
      csstype: ['blur'],
    },
    {
      title: '噗首的頭像',
      subtitle: '.timeline-cnt .p_img',
      name: 'plurkcnt_pimg',
      csstype: ['opa', 'bdrs', 'bd', 'sha'],
    },
    {
      title: '噗的回應數',
      subtitle: '.timeline-cnt .response_count',
      name: 'plurkcnt_count',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
    },
    {
      title: '噗的未讀回應數',
      subtitle: '.timeline-cnt .new .response_count',
      name: 'plurkcnt_newcount',
      csstype: ['bgc', 'c', 'opa'],
    },
    {
      title: '噗友暱稱',
      subtitle: '.timeline-cnt .td_qual > span',
      name: 'plurkcnt_pname',
      csstype: ['up'],
    },
    {
      title: '噗的Hashtag',
      subtitle: '.plurk .text_holder a.hashtag',
      name: 'plurkcnt_hash',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗的圖片',
      subtitle: '.plurk a.pictureservices',
      name: 'plurkcnt_pic',
      csstype: ['opa', 'bdrs'],
      hover: true,
    },
    {
      title: '噗的有圖連結',
      subtitle: '.plurk a.meta',
      name: 'plurkcnt_piclink',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd'],
      hover: true,
    },
    {
      title: '噗的有圖連結內的圖片',
      subtitle: '.plurk a.meta img',
      name: 'plurkcnt_piclinkimg',
      csstype: ['opa', 'bdrs'],
    },
    {
      title: '噗的普通連結',
      subtitle: '.plurk a.ex_link',
      name: 'plurkcnt_link',
      csstype: ['c', 'fz'],
      hover: true,
    },
    {
      title: '噗的編輯鈕',
      subtitle: '.manager > a.edit',
      name: 'manager_edit',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗的消音鈕',
      subtitle: '.manager .mute-off',
      name: 'manager_mute',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗的轉噗鈕',
      subtitle: '.manager .replurk-off',
      name: 'manager_replurk',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗的喜歡鈕',
      subtitle: '.manager .like-off',
      name: 'manager_like',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗的書籤鈕',
      subtitle: '.manager .mark-off',
      name: 'manager_mark',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗的噗幣鈕',
      subtitle: '.manager > a.gift',
      name: 'manager_gift',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗的選項鈕',
      subtitle: '.manager > a.option',
      name: 'manager_option',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗的時間顯示',
      subtitle: '.timeline-timeshow',
      name: 'timeline_plurktime',
      csstype: ['bgc', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
    },
    {
      title: '時間軸的時間',
      subtitle: '.bottom_start',
      name: 'timeline_time',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
    },
    {
      title: '時間軸的線',
      subtitle: '#bottom_line',
      name: 'timeline_line',
      csstype: ['bgc', 'opa'],
    },
    {
      title: '河道往前往後鈕',
      subtitle: '.browse_button',
      name: 'browse_btn',
      csstype: ['opa'],
      hover: true,
    },
  ];

  const plurkBoxList = [
    {
      title: '噗內整體調整',
      subtitle: '#form_holder',
      name: 'plurkbox_holder',
      csstype: ['opa', 'bdrs', 'bd', 'sha'],
    },
    {
      title: '噗內喜歡數',
      subtitle: '.favorite_count',
      name: 'plurkbox_favorite',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗內轉噗數',
      subtitle: '.replurk_count',
      name: 'plurkbox_replurk',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗內書籤標籤',
      subtitle: '.bookmark_info',
      name: 'plurkbox_bookmark',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗內私噗標籤',
      subtitle: '.private_info',
      name: 'plurkbox_private',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '噗內回應區',
      subtitle: '.response_box',
      name: 'plurkbox_resbox',
      csstype: ['bgc'],
      hover: true,
    },
    {
      title: '回應內容',
      subtitle: '.response_box .list .plurk_cnt',
      name: 'plurkbox_reslist',
      csstype: ['bgc', 'c', 'fz', 'bdrs', 'bd'],
      hover: true,
    },
    {
      title: '噗主回應內容',
      subtitle: '.response_box .list .highlight_owner .plurk_cnt',
      name: 'plurkbox_ownlist',
      csstype: ['bgc', 'c', 'fz', 'bdrs', 'bd'],
      hover: true,
    },
    {
      title: '噗內暱稱上移',
      subtitle: '#form_holder .plurk_cnt .td_qual',
      name: 'plurkbox_listname',
      csstype: ['boxup'],
    },
    {
      title: '噗內輸入區',
      subtitle: '.plurk_box .mini_form',
      name: 'plurkbox_form',
      csstype: ['bgc'],
    },
  ];

  const controlList = [
    {
      title: '更新的按鈕',
      subtitle: '#updater .item a',
      name: 'control_updatebtn',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '更新的未讀數字',
      subtitle: '#updater .unread_generic',
      name: 'control_updatecount',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
    },
    {
      title: '頻道的型態',
      subtitle: '#filter_tab',
      name: 'control_filterstyle',
      csstype: ['open', 'ftposi', 'toicon', 'countposi'],
    },
    {
      title: '頻道的普通按鈕',
      subtitle: '#filter_tab a',
      name: 'control_filterbtn',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '頻道的選中按鈕',
      subtitle: '#filter_tab a.filter_selected',
      name: 'control_filterselect',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '頻道的未讀數字',
      subtitle: '#filter_tab a .unread_generic',
      name: 'control_filtercount',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
    },
  ];

  const dashboardLeftList = [
    {
      title: '主控台整體',
      subtitle: '#plurk-dashboard',
      name: 'dashboard_board',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '主控台內分區',
      subtitle: '.dash-segment .segment-content',
      name: 'dashboard_segment',
      csstype: ['bgc', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '個人資料區整體',
      subtitle: '.dash-segment-profile .segment-content',
      name: 'profile_segment',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '個人頭像',
      subtitle: '#plurk-dashboard .dash-group-left #dash-profile img.profile-pic',
      name: 'profile_img',
      csstype: ['opa', 'bdrs', 'sha'],
      hover: true,
    },
    {
      title: '個人暱稱',
      subtitle: '#plurk-dashboard .dash-group-left #dash-profile #full_name .display_name',
      name: 'profile_name',
      csstype: ['c', 'fz', 'opa'],
      hover: true,
    },
    {
      title: '私噗按鈕',
      subtitle: '.friend_man.private_plurk',
      name: 'profile_private',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '送禮按鈕',
      subtitle: '.friend_man.send_gift',
      name: 'profile_gift',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
  ];

  const dashboardRightList = [
    {
      title: '發噗區整體',
      subtitle: '.dash-segment-post .segment-content',
      name: 'post_segment',
      csstype: ['bgc', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '發噗鈕',
      subtitle: '.submit_img_color',
      name: 'post_submit',
      csstype: ['bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '發噗區表符鈕',
      subtitle: '.dash-segment-post .icons_holder .pif-emoticon',
      name: 'post_emoticon',
      csstype: ['c', 'opa'],
      hover: true,
    },
    {
      title: '發噗區分享鈕',
      subtitle: '.dash-segment-post .icons_holder .pif-media',
      name: 'post_media',
      csstype: ['c', 'opa'],
      hover: true,
    },
    {
      title: '發噗區同步鈕',
      subtitle: '.dash-segment-post .icons_holder .pif-sync',
      name: 'post_sync',
      csstype: ['c', 'opa'],
      hover: true,
    },
    {
      title: '發噗區偷偷說鈕',
      subtitle: '.dash-segment-post .icons_holder .pif-anynomous',
      name: 'post_anynomous',
      csstype: ['c', 'opa'],
      hover: true,
    },
    {
      title: '發噗區私人鈕',
      subtitle: '.dash-segment-post .icons_holder .pif-privacy',
      name: 'post_privacy',
      csstype: ['c', 'opa'],
      hover: true,
    },
    {
      title: '卡碼資訊區整體',
      subtitle: '.dash-segment-stats .segment-content',
      name: 'stats_segment',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '統計資訊',
      subtitle: '#plurk-dashboard .dash-segment #dash-stats table td',
      name: 'stats_fzcolor',
      csstype: ['c', 'fz'],
    },
    {
      title: '卡碼',
      subtitle: '.dash-stats-karma',
      name: 'stats_karma',
      csstype: ['dp'],
    },
    {
      title: '好友區整體',
      subtitle: '.dash-segment-friends .segment-content',
      name: 'friends_segment',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '紛絲區整體',
      subtitle: '.dash-segment-fans .segment-content',
      name: 'fans_segment',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '好友粉絲頭像',
      subtitle: '.friend_holder img',
      name: 'friends_img',
      csstype: ['opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '好友按鈕',
      subtitle: '#dash-friends .friend_man',
      name: 'friends_friendbtn',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '好友連結',
      subtitle: '#dash-friends .show_all_friends a, #dash-friends .show_mutual_friends a',
      name: 'friends_friendlink',
      csstype: ['dp', 'c', 'fz', 'opa'],
      hover: true,
    },
    {
      title: '好友頭像區',
      subtitle: '#dash-friends .friend_holder',
      name: 'friends_friendimg',
      csstype: ['dp', 'bgc', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '粉絲按鈕',
      subtitle: '#dash-fans .friend_man',
      name: 'fans_fanbtn',
      csstype: ['dp', 'bgc', 'c', 'fz', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '粉絲連結',
      subtitle: '#dash-fans .show_all_friends a',
      name: 'fans_fanlink',
      csstype: ['dp', 'c', 'fz', 'opa'],
      hover: true,
    },
    {
      title: '粉絲頭像區',
      subtitle: '#dash-fans .friend_holder',
      name: 'fans_fanimg',
      csstype: ['dp', 'bgc', 'opa', 'bdrs', 'bd', 'sha'],
      hover: true,
    },
    {
      title: '徽章區',
      subtitle: '#plurk-dashboard .dash-segment-award',
      name: 'award_segment',
      csstype: ['dp', 'opa'],
      hover: true,
    },
  ];

  const otherList = [
    {
      title: '噗浪生物',
      subtitle: '#dynamic_logo::after',
      name: 'dynamic_ori',
      csstype: ['dcbgi', 'size', 'posi', 'opa'],
    },
    {
      title: '官方生物',
      subtitle: '#dynamic_logo #creature',
      name: 'dynamic_creature',
      csstype: ['opa'],
    },
    {
      title: '時間軸生物',
      subtitle: '.timeline-bg',
      name: 'tl_bg',
      csstype: ['tlbgi', 'tlbgirep', 'tlbgiposi'],
    },
    {
      title: '噗幣旁生物',
      subtitle: '.profile-icons::before',
      name: 'p_coin',
      csstype: ['pcoinbgi', 'size', 'opa'],
    },
    {
      title: '往前按鈕',
      subtitle: '.browse_button .cmp_arrow_left',
      name: 'browse_al',
      csstype: ['browsealbgi', 'size', 'opa'],
    },
    {
      title: '往後按鈕',
      subtitle: '.browse_button .cmp_arrow_right',
      name: 'browse_ar',
      csstype: ['browsearbgi', 'size', 'opa'],
    },
    {
      title: '回到最前按鈕',
      subtitle: '.browse_button .cmp_back_to_today',
      name: 'browse_tt',
      csstype: ['browsettbgi', 'size', 'bgc', 'opa', 'bdrs'],
    },
    {
      title: 'Loading 圖示',
      subtitle: '.loading-div .cnt',
      name: 'loading_cut',
      csstype: ['loadingbgi', 'size', 'opa'],
    },
    {
      title: '官方 Loading',
      subtitle: '.loading-div .cnt img',
      name: 'loading_img',
      csstype: ['opa'],
    },
    {
      title: '游標更改',
      subtitle: '*, body, a',
      name: 'cursor_normal',
      csstype: ['cursor'],
    },
    {
      title: '游標更改：移到連結上',
      subtitle: 'a:hover',
      name: 'cursor_hover',
      csstype: ['cursor'],
    }
  ];

- const contentList = [plurkCntList, plurkBoxList, controlList, dashboardLeftList, dashboardRightList, otherList];

- const areaList = ['th', 'fh', 'tc', 'dhl', 'dhr', 'other']

- const menuList = ['河道', '噗內回應', '控制列', '主控台左', '主控台右', '圖示更改']